# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing / Coverage
/coverage

# Next.js
/.next/
/out/
/build
next-env.d.ts

# Production
*.tsbuildinfo

# Environment / Secrets
.env
.env.*
!.env.example

# Prisma
# generierter Client und lokale SQLite-Reste
/prisma/generated
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea
